x3d {
    border: 2px solid black;
    background: rgba(255, 255, 255, 1);
}

body {
    font-size: 110%;
    font-family: verdana, sans-serif;
    background-color: lightslategray;
    margin: 3em;
    color: lightgray;
}
