x3d {
    border: 2px solid black;
    background: rgba(255, 255, 255, 1);
}

body {
    font-size: 110%;
    font-family: verdana, sans-serif;
    background-color: lightslategray;
    margin: 3em;
    color: lightgray;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 8px;
    display: inline-flex;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

